body,
html {
  width: 100%;
  height: 100%;
  background:  url(header.jpg) no-repeat center center fixed;
  font-family: 'Montserrat', sans-serif;
}
hr{
  border-color: rgb(255, 122, 0);
  border-width: 4px;
  max-width: 65px;
}
h1{
  font-size: 40px;
  color: white;
  margin-top: 200px;
  text-align: center;
}
.btn{
padding: 1rem 2rem;
border-radius: 300px;

}
.btn-primary{
  background-color: rgb(255, 122, 0);
}
.btn-primary:hover{
  background-color: rgb(255, 110, 0);
  transform: scale(1.019);
}
